/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  body{
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("computer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 25%;
    text-align: center;
   
  }
  
  nav .menu {
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  nav .menu a:first-child {
    color: #00b894;
  }
  
  main {
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  section h3 {
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
  }
  
  section h1 {
    margin: 30px 0 20px 0;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;
  }
  
  section p {
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
  }
  
  section a {
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.5s ease;
  }
  
  section .btnone {
    background: #00b894;
    background: #fff;
    color: #000;
  }
  
  .btnone:hover {
    background: #00b894;
    color: white;
  }
  
  section .btntwo {
    background: #00b894;
    color: white;
  }
  
  .btntwo:hover {
    background: #fff;
    color: #000;
  }
  
  .change_content:after {
    content: "";
    animation: changetext 10s infinite linear;
    color: #00b894;
  }
  
  @keyframes changetext {
    0% {
      content: "New";
    }
    25% {
      content: "Aspiring";
    }
    45% {
      content: "Creative";
    }
    60% {
      content: "Innovative";
    }


    
  } */

  * {box-sizing: border-box;
    margin-top: 0%;}
    
    body {font-family: Verdana, sans-serif;
    margin: 0%;
    background-color: #605c64;
    }
    
    
    .mySlides {display: none;}
    
    img {background-size: cover;
    width: 100%;
    opacity: .7;}
    
    /* Slideshow container */
    /* .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    } */
    
    /* Caption text */
    .text {
    
    
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }
    
    
    
    /* The dots/bullets/indicators */
    .dot {
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }
    
    .active {
      background-color: #717171;
    }
    
    /* Fading animation */
    .fade {
      animation-name: fade;
      animation-duration: 2.5s;
    }
    
    @keyframes fade {
      from {opacity: .7} 
      to {opacity: 1}
    }
    
    /* On smaller screens, decrease text size */
    @media only screen and (max-width: 300px) {
      .text {font-size: 11px}
    }
    
    nav {
        margin-top: 0%;
        width: 100%;
        height: 15vh;
        background: rgba(0, 0, 0, 0.2);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: uppercase;
      }
      
      nav .logo {
        width: 25%;
        text-align: center;
    
      }
      
      nav .menu {
        width: 50%;
        display: flex;
        justify-content: space-around;
      }
      
      nav .menu a {
        width: 60%;
        text-decoration: none;
        color: white;
        font-weight: bold;
      }
      
      nav .menu a:first-child {
        color: #00bcd4;
      }
    
      h3 {
        font-size: 15px;
        font-weight: 100;
        letter-spacing: 3px;
        text-shadow: 1px 1px 2px black;
      }
    
      h1 {
        margin: 30px 0 20px 0;
        font-size: 50px;
        color: 	#28282B;
        font-weight: 400px;
        text-shadow: 2px 1px 5px black;
        text-transform: uppercase;
      }
    
      p {
        font-size: 25px;
        word-spacing: 2px;
        margin-bottom: 25px;
        text-shadow: 1px 1px 1px black;
      }
    
      a {
        padding: 12px 30px;
        border-radius: 4px;
        outline: none;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500;
        text-decoration: none;
        letter-spacing: 1px;
        transition: all 0.5s ease;
      }
    
      .change_content:after {
        content: "";
        animation: changetext 10s infinite linear;
        color: #00bcd4;
      }
      
      @keyframes changetext {
        0% {
          content: "Enlightening";
        }
        25% {
          content: "Fruitful";
        }
        45% {
          content: "CREATIVITY";
        }
        60% {
          content: "CAREER";
        }
      }
    @import url('http://fonts.googleapis.com/css?family=Open+Sans:400,700');
    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        font-family: 'Poppins', sans-serif;
    }
    
    html {
        background-color: #eaf0f2;
    }
    
    header {
        text-align: center;
        padding-top: 100px;
        margin-bottom: 300px;
        font-size: 35px;
    }
    
    header h2 {
        color: #f0525f;
    }
    
    header span {
        color: #00bcd4;
    }
    
    /* The footer is fixed to the bottom of the page */
    
    footer {
        position: fixed;
        bottom: 0;
    }
    
    @media (max-height:800px) {
        footer {
            position: static;
        }
        header {
            padding-top: 40px;
        }
    }
    
    .footer-distributed {
        background-color: #2d2a30;
        box-sizing: border-box;
        width: 100%;
        text-align: left;
        font: bold 16px sans-serif;
        padding: 50px 50px 60px 50px;
        margin-top: 80px;
    }
    
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }
    
    /* Footer left */
    
    .footer-distributed .footer-left {
        width: 30%;
    }
    
    .footer-distributed h3 {
        color: #ffffff;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }
    
    
    .footer-distributed h3 span {
        color: #00bcd4;
    }
    
    /* Footer links */
    
    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }
    
    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 1.8;
        text-decoration: none;
        color: inherit;
    }
    
    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    
    /* Footer Center */
    
    .footer-distributed .footer-center {
        width: 35%;
    }
    
    .footer-distributed .footer-center i {
        background-color: #33383b;
        color: #ffffff;
        font-size: 25px;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        text-align: center;
        line-height: 42px;
        margin: 10px 15px;
        vertical-align: middle;
    }
    
    .footer-distributed .footer-center i.fa-envelope {
        font-size: 17px;
        line-height: 38px;
    }
    
    .footer-distributed .footer-center p {
        display: inline-block;
        color: #ffffff;
        vertical-align: middle;
        margin: 0;
    }
    
    .footer-distributed .footer-center p span {
        display: block;
        font-weight: normal;
        font-size: 14px;
        line-height: 2;
    }
    
    .footer-distributed .footer-center p a {
        color: #00bcd4;
        text-decoration: none;
        ;
    }
    
    /* Footer Right */
    
    .footer-distributed .footer-right {
        width: 30%;
    }
    
    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: #92999f;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }
    
    .footer-distributed .footer-company-about span {
        display: block;
        color: #ffffff;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .footer-distributed .footer-icons {
        margin-top: 25px;
    }
    
    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }
    
    .footer-distributed .footer-icons a:hover {
        background-color: #3F71EA;
    }
    
    .footer-links a:hover {
        color: #3F71EA;
    }
    
    @media (max-width: 880px) {
        .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
            display: block;
            width: 100%;
            margin-bottom: 40px;
            text-align: center;
        }
        .footer-distributed .footer-center i {
            margin-left: 0;
        }
    }
    
    .para{
        width: 70%;
        position: absolute;
        left: 15%;
        bottom: -89%;
        text-align: center;
    }